{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://appws.picpay.com/ecommerce/public/",
      "description": "PicPay production address"
    }
  ],
  "info": {
    "version": "3.0",
    "title": "PicPay - E-commerce Public API",
    "description": "\n\n# Introduction\n\nThe PicPay APIs were developed based on REST technology, following the current market\ntechnical standards. All URLs are user-friendly and resource-oriented, using HTTP protocol\nstandards like authentication, verbs and return codes.\n\nAs can be seen below, the APIs have been carefully crafted so that the business terms contained within are easily understood by developers who have no prior knowledge of the system. They have been meticulously studied so that a field name in an endpoint has exactly the same meaning in other resources.\n\n\n# Authentication\n\n All communication (receiving and sending data) uses tokens for authentication. See\n the table below for tokens and streams:\n\n | Header | Flow |\n | 🇧🇷 - |\n |`x-picpay-token` | E-Commerce requests for PicPay.|\n |`x-seller-token` | PicPay requests for E-Commerce (Callback).|\n\n *Both tokens will be provided by PicPay, after completing the store registration.*\n\n\n# Test environment\n\n Currently PicPay does not have a homologation environment for customer integration tests. All\n validations must be carried out in production, **without charge to the developer.** \n Payments made during testing can be immediately reversed, by the API\n or [merchant's panel](https:/ /painel-empresas.picpay.com/).\n\n\n # Support\n If you have any questions, consult our FAQ or contact the PicPay Empresas relationship center by email ** contato-empresas@picpay.com.**\n\n\n **Information:** PicPay's development team does not provide consulting services, therefore, no\n codes are analyzed in our support.\n "
  },
  "tags": [
    {
      "name": "Create an order for a payment"
    },
    {
      "name": "Payment capture"
    },
    {
      "name": "Payment cancel request"
    },
    {
      "name": "Order check Status"
    },
    {
      "name": "Order change notification"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "tags": [
          "Create an order for a payment"
        ],
        "description": "\nThe creation of the payment request is performed at checkout, on the payment screen. It is the last stage of the \npurchase that the consumer performs. In this process, the payment method is chosen, \nyou can choose to pay with PicPay. \n\nAfter choosing to pay with PicPay, 2 forms of integration with the checkout are available to generate \n the payment order creation request:\n \n - **Payment link:**the order generated offers a URL address, informed in the `paymentUrl` field, \n so that the consumer is directed to the PicPay payment screen.If you choose \n redirection, using the payment link, the consumer will return to the virtual store, \n according to the address entered in the `returnUrl` field, as soon as the payment is completed;\n\n - **QRCode:** returned in the `qrcode` field, an image is generated in base64 format for use directly in \n the merchant's system, enabling the assembly of a transparent checkout. There will be no \n visual difference between the online store and the payment page.\n\nThe identification process of the consumer in the PicPay database is based on the information \ncontained in the `buyer` field. Once located, the consumer can complete the payment from the \npush notification of the PicPay application.\n\nThe payment information is sent to the e-mail registered in the application and/or e-mail informed in the \nrequest, in the `email` field. it is recommended to inform all data of the consumer in the \nrequest.\n\nIf the ecommerce needs confirmation of the value after the authorization of the consumer, \nit is necessary to send the `autoCapture` field with the value `false`,indicating that the authorized value will only be \ntemporarily reserved (late capture). See capture request below for \ndetails.",
        "summary": "Request to Create order for payment",
        "operationId": "postPayments",
        "security": [
          {
            "PicpayApiToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse200"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/payments/{referenceId}/capture": {
      "post": {
        "tags": [
          "Payment capture"
        ],
        "description": "\nThe partial or total payment capture is realized out under the condition that the payment request is \ncreated with the `autoCapture` field set to `false` and the consumer has made the payment. \nThe request will be awaited to effect the charge, with the correct amount, informed in the `amount` field. \nThe value can be the same or less than the authorized value.Captures with a value greater than the authorized value will be \nrejected.\n\nThe return of the request informs the updated values ​​pertinent to the transaction, located in the\n`summary` field:\n- **`authorized` field:** contains the authorized value; \n- **Field `paid`:** registers the amount paid (captured).\n\n\n**Information:**\n- The capture request is only allowed when the transaction is authorized. In the situation where \nthe capture request does not occur within 5 consecutive days, counting from the authorization, the order is canceled \automatically;\n\n- After the successful capture, even if of partial value, it will not be possible request\nnew capture of the same order/transaction.",
        "summary": "Request to capture payment total or partial",
        "operationId": "capturePayments",
        "security": [
          {
            "PicpayApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "description": "order Id ",
            "example": "102030",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturePaymentResponse200"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/CapturePaymentUnprocessable"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/payments/{referenceId}/refunds": {
      "post": {
        "tags": [
          "Payment cancel request"
        ],
        "description": "\nThe cancellation of the payment request is made by the retailer in a partial or total way, even if \nthe payment has already taken place, by a cancellation request.\n\nThe return of the request informs the updated values ​​pertaining to the transaction, localized in the\nca`summary` field:\n- **Field `paid`:** amount paid;\n- **Field `refunded`:** value canceled.\n\n##Cancel order that does not have a payment request\nWhen canceling an order that does not yet have payment authorization, \na new payment attempt is not allowed.\n\n## Canceling an authorized payment request and awaiting capture\nTo orders with payment authorized and awaiting capture,it is allowed to close the request \nin advance, always for the total amount, as long as the wait is within 5 days of the \ncapture request. This avoids any possibility of being charged and makes the consumer's balance available \nfor new purchases.\n\n## Cancel payment request made\nIf the payment has been made, the amount entered in the `amount` field will be returned to the person \ nconsumer, not being allowed to return more than the amount paid.The cancellation can be partial, \namely, when the refund amount is lower than the available amount paid (amount paid minus amount \ncancelled). \n\n## Cancel partially returned payment request\nPartially returned payments are still considered paid and new \ncancellations are allowed until the entire amount paid has been cancelled. It is considered total cancellation when \nthe consumer receives back the entire amount paid.\n\n## Cancel payment already received\nFor cancellations of transactions in which the retailer has already received the amount, \navailability of amounts in their future releases, being possible a refusal of the cancellation if \nthere are no resources available for the cancellation to occur.\n\n## Canceling a payment that has cashback\nThe process of canceling a payment with a cashback promotion occurs when there is\na balance available in the consumer's account. In this case, a request is made for\nthe cashback amount to be returned proportionally to the canceled amount.\n\n**Information:** payment cancellation with cashback promotions depends on the completion of the purchase.",
        "summary": "Request to cancel / partial or full refund",
        "operationId": "postRefunds",
        "security": [
          {
            "PicpayApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "example": "102030",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse201"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Problems with the request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UnprocessableRefunds2"
                    },
                    {
                      "$ref": "#/components/schemas/UnprocessableRefunds3"
                    },
                    {
                      "$ref": "#/components/schemas/UnprocessableRefunds4"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/payments/{referenceId}/status": {
      "get": {
        "tags": [
          "Order check status"
        ],
        "description": "Allows to consult and identify the current status of the payment request, through the `status` field. \nThe return of the request informs the updated values ​​pertaining to the payment request, located \nin the `summary` field:\n- **Field `authorized`:** authorized value;\n- **Field `paid`:** amount paid (captured);\n- **Field `refunded`:** amount canceled.",
        "summary": "Request for order details",
        "operationId": "getStatus",
        "security": [
          {
            "PicpayApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "description": "Order Id",
            "example": "102030",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse200"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/callback": {
      "post": {
        "servers": [
          {
            "url": "http://www.sualoja.com.br/",
            "description": "Here we will call your store"
          }
        ],
        "tags": [
          "Order change notification"
        ],
        "description": "\nThrough the callback, the merchant's system is notified when there is a change of state \n(status) in the order.\nThe message is sent to the address identified when creating the order, through the field\n`callbackUrl`.This way, it is possible to know when something has changed and query the order again to \nupdate the records.\n\nAs a security measure, updates are not communicated directly to the merchant\n\ncallbackUrl`s system.This is as a guarantee that only the retailer has access \nto the data of their orders and that they do not come to the knowledge of third parties, especially malicious people.\n\nThe merchant's system must always return a successful response (status http 200) for this call.\n\nIn case the trader's system is down, there will be another 21 callback attempts.",
        "summary": "Notification to inform order update",
        "operationId": "postCallbacks",
        "security": [
          {
            "SellerApiToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackResponse200"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Invalid Token",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Error Message",
                  "type": "string",
                  "example": "O Token informado é inválido"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Data Validation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Error Message",
                  "type": "string",
                  "example": "Algumas propriedades não passaram no teste de validação."
                },
                "errors": {
                  "description": "Array containing the errors (optional)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description": "Property",
                        "example": "callbackUrl"
                      },
                      "message": {
                        "type": "string",
                        "description": "What happened",
                        "example": "O campo callback url é obrigatório."
                      }
                    }
                  }
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "UnprocessableRefunds": {
        "description": "Data Validation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Error Message",
                  "type": "string",
                  "example": "Algumas propriedades não passaram no teste de validação."
                },
                "errors": {
                  "description":  "Array containing the errors (optional)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description":  "Property",
                        "example": "amount"
                      },
                      "message": {
                        "type": "string",
                        "description":  "What happened",
                        "example": "O valor do cancelamento é maior do que o valor total do pagamento."
                      }
                    }
                  }
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "CapturePaymentUnprocessable": {
        "description":  "Data Validation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Error Message",
                  "type": "string",
                  "example": "Algumas propriedades não passaram no teste de validação."
                },
                "errors": {
                  "description": "Array containing the errors (optional)",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "description": "Property",
                        "example": "amount"
                      },
                      "message": {
                        "type": "string",
                        "description": "What happened",
                        "example": "O valor enviado é maior do que o valor total da transação original."
                      }
                    }
                  }
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "Error": {
        "description": "Internal Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Error Message (optional)",
                  "type": "string",
                  "example": "Problema geral, verifique se a transação foi criada ou cancele a mesma."
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "PicpayApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-picpay-token",
        "description": "Token generated and provided by PicPay."
      },
      "SellerApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-seller-token",
        "description": "Token generated and provided by PicPay."
      }
    },
    "schemas": {
      "PaymentRequest": {
        "title": "Payment request",
        "properties": {
          "referenceId": {
            "description": "The referenceId is the order's unique identifier code, used to inform the consumer of their ID at the time of payment. The code is also used for the shopkeeper to check the payment status, cancellation request, etc.",
            "example": "102030",
            "type": "string"
          },
          "callbackUrl": {
            "description": "Url to which PicPay returns the payment status.",
            "example": "http://www.sualoja.com.br/callback",
            "type": "string"
          },
          "returnUrl": {
            "description": "Url to which the consumer will be redirected after payment.",
            "example": "http://www.sualoja.com.br/cliente/pedido/102030",
            "type": "string"
          },
          "leaveUrl": {
            "description": "Url for when the customer wants to give up or when they cannot pay because the order has expired",
            "example": "http://www.sualoja.com.br/cliente/pedido/102030/desistir",
            "type": "string"
          },
          "value": {
            "description": "Payment amount in BRL",
            "example": 20.51,
            "type": "number",
            "format": "double"
          },
          "expiresAt": {
            "description": "When the payment order will expire. ISO 8601 format. Example: 2022-05-01T16:00:00-03:00 (means it will expire on 01/05/2022 at 16:00 in -03:00 time zone)",
            "example": "2022-05-01T16:00:00-03:00",
            "type": "string"
          },
          "channel": {
            "description": "Field for exclusive use by integrators who have more than one commercial establishment (each with its own integration key).",
            "example": "my-channel",
            "type": "string"
          },
          "purchaseMode": {
            "description": "Identifies whether the purchase is in person or online. If it is not sent, it assumes the default value of `online`.",
            "example": "in-store",
            "type": "string",
            "enum": [
              "online",
              "in-store"
            ]
          },
          "buyer": {
            "description": "Object containing the consumer's information.",
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "description": "Consumer's first name."
              },
              "lastName": {
                "type": "string",
                "description": "Consumer's last name."
              },
              "document": {
                "type": "string",
                "description":"Consumer CPF in format 123.456.789-10."
              },
              "email": {
                "type": "string",
                "description": "Consumer Email."
              },
              "phone": {
                "type": "string",
                "description": "Consumer Telephone number in format +55 27 12345-6789."
              }
            },
            "required": [
              "document"
            ],
            "example": {
              "firstName": "João",
              "lastName": "Da Silva",
              "document": "123.456.789-10",
              "email": "teste@picpay.com",
              "phone": "+55 27 12345-6789"
            }
          },
          "notification": {
            "type": "object",
            "description": "Object to choose which will be the means of notification. If not informed, standard notifications will be made.",
            "properties": {
              "disablePush": {
                "description": "Disable notification in the PicPay application.",
                "example": "true"
              },
              "disableEmail": {
                "description": "Disable email notification.",
                "example": "true"
              }
            },
            "example": {
              "disablePush": true,
              "disableEmail": true
            }
          },
          "softDescriptor": {
            "description": "Additional description that will be sent in the transaction identification for the consumer's invoice.",
            "example": "MinhaLoja",
            "type": "string"
          },
          "autoCapture": {
            "description": "Flag to inform if the payment capture will be automatic or not. By default the transaction is captured automatically.",
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "referenceId",
          "callbackUrl",
          "value",
          "buyer"
        ]
      },
      "PaymentResponse200": {
        "title": "Response to payment request",
        "type": "object",
        "properties": {
          "referenceId": {
            "description": "Reference Id",
            "example": "102030",
            "type": "string"
          },
          "paymentUrl": {
            "description": "URL where the store should redirect the consumer to complete the payment.",
            "example": "https://app.picpay.com/checkout/NWFmMGRjNmViZDc0Y2EwMDMwNzZlYzEw",
            "type": "string"
          },
          "expiresAt": {
            "description": "When the payment order will expire. ISO 8601 format. Example: 2022-05-01T16:00:00-03:00 (means it will expire on 01/05/2022 at 16:00 in -03:00 time zone)",
            "example": "2022-05-01T16:00:00-03:00",
            "type": "string"
          },
          "qrcode": {
            "description": "Object that contains the value of the QR Code and also the ready image of the QR Code in base64 format.",
            "type": "object",
            "properties": {
              "content": {
                "type": "string",
                "description": "Contents of the QR Code."
              },
              "base64": {
                "type": "string",
                "description": "QR Code image in base64 format (valid to display in the frontend without depending on external plugins)."

              }
            },
            "example": {
              "content": "https://app.picpay.com/checkout/NWNlYzMxOTM1MDg1NGEwMDIwMzUxODcy",
              "base64": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAIAAAAP3aGbAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAIHklEQVR4nO3dwW4bORRFQcfI/3+yMYsBZmfCYTjUO62qbRC5LckHvbhg//r6+voAKPh89QUA/JRgARmCBWQIFpAhWECGYAEZggVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARmCBWQIFpAhWECGYAEZggVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARmCBWQIFpAhWECGYAEZggVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARmCBWQIFpAhWECGYAEZggVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARm/X30B3/r8DMf06+vru3/a+70WL7jn+GUsXnDv4o+/4M2f9dRv78uF31bg3QgWkCFYQIZgARmCBWQIFpAhWECGYAEZc4ejC0OGbUMmoHuOT1sX9maZQ+amx19wyBcgOm1NXjTwngQLyBAsIEOwgAzBAjIEC8gQLCBDsICM5HB04fgc7g0Pt7y5hxxy8TdfcGH+u/Fy7rCADMECMgQLyBAsIEOwgAzBAjIEC8gQLCDjacPRtCGHW96cL+4dfHrz7NDjl8HfcIcFZAgWkCFYQIZgARmCBWQIFpAhWECGYAEZhqMNNx8fv3DzAfdDnizPKO6wgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwg42nD0fnjwPQZm8cd36+mPfX3OsgdFpAhWECGYAEZggVkCBaQIVhAhmABGYIFZCSHozeXjcd5YPoPHX83hryH6W/vy3nvgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwg49dTZ4dF8/eQN48wvXnxe/zt3OcOC8gQLCBDsIAMwQIyBAvIECwgQ7CADMECMuYOR28ezDjkQfDpcy+Pv4fHDZnR7r3gnvnfwz/lDgvIECwgQ7CADMECMgQLyBAsIEOwgAzBAjLmDkePG7KUG3L85nE3Z7RD5qZDPsohG+A73GEBGYIFZAgWkCFYQIZgARmCBWQIFpAhWEDG71dfwLeGrPIW3mqw9zeGvFFDzvOc/8WezB0WkCFYQIZgARmCBWQIFpAhWECGYAEZggVkzD1xdMjacM/NcWD6jdoz//DY4x/lkBd8OXdYQIZgARmCBWQIFpAhWECGYAEZggVkCBaQMXc4etzNVd5xQ572fnO++Iaf1/Gf9TzusIAMwQIyBAvIECwgQ7CADMECMgQLyBAsIMOj6m//rD1DHrO+kN5D3tyvHr+M+d/eg9xhARmCBWQIFpAhWECGYAEZggVkCBaQIVhAxtwTR4fM4eZfxpDR40J6U3r8C3DzBcf+dW9zhwVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARlzTxzd89Tntt/01JHqzcfH8z/xOQEZggVkCBaQIVhAhmABGYIFZAgWkCFYQEbyxNEhxznuveBxQ3aeQ15wyP9amL9fHduED3dYQIhgARmCBWQIFpAhWECGYAEZggVkCBaQMXc4uvCGjz5fmL+HXEgfEPrUK5zchBFvK8BPCBaQIVhAhmABGYIFZAgWkCFYQIZgARlzH1WfPupzYcjOc2HvZw0ZIqankkNOUp3MHRaQIVhAhmABGYIFZAgWkCFYQIZgARmCBWTMHY4uPPUJ7HuGbEoXhlzGnvTFP29T6g4LyBAsIEOwgAzBAjIEC8gQLCBDsIAMwQIy5j6q/uaw7eZxjkOOFV24+RT7IfPFIR/lkG3zZO6wgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwgI3ni6M0V5UJ6UnjT8ct46qj45mUsTJ6bjvhCA/yEYAEZggVkCBaQIVhAhmABGYIFZAgWkDH3xNE9N5dyQ+aLx6WP+hxi/jp0YXITpn/wAP8RLCBDsIAMwQIyBAvIECwgQ7CADMECMpLD0fkPTHc+5EBDZpkL88+wfTl3WECGYAEZggVkCBaQIVhAhmABGYIFZAgWkDF3ODpk8zbkcMs33K8OeeeHuPn2jm3ChzssIESwgAzBAjIEC8gQLCBDsIAMwQIyBAvImDscfaqbp5su3Dzc8uZlLMx/pPuQye5k7rCADMECMgQLyBAsIEOwgAzBAjIEC8gQLCDj96sv4FvpAycXW76bU8n5P2vvU745Ut0TPc9zvnAUgHcjWECGYAEZggVkCBaQIVhAhmABGYIFZMwdji4Mmd49ddo6/2TOheMj1T1DfuUhfykHhf/kgHcjWECGYAEZggVkCBaQIVhAhmABGYIFZCSHowvp0ePC8cfHH/+9hixRhxwretzx3ys6N3WHBWQIFpAhWECGYAEZggVkCBaQIVhAhmABGU8bjs43ZG148wX3/teQs0MXhgwshyyH7xjxwQP8hGABGYIFZAgWkCFYQIZgARmCBWQIFpBhONpwfOZ3/JjKhZtz04WbFz//Z0W90a8K1AkWkCFYQIZgARmCBWQIFpAhWECGYAEZTxuORs9R/Nfxx5EPeTeGXPze23v80M4hx8BGDyN1hwVkCBaQIVhAhmABGYIFZAgWkCFYQIZgARnJ4ehTj1icv+WbfyTm/J3nwvE3anHxQ75Rf+qZf/nAIwkWkCFYQIZgARmCBWQIFpAhWECGYAEZv6L7MeANucMCMgQLyBAsIEOwgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwgQ7CADMECMgQLyBAsIEOwgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwgQ7CADMECMgQLyBAsIEOwgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwgQ7CADMECMgQLyBAsIEOwgAzBAjIEC8gQLCBDsIAMwQIyBAvIECwgQ7CADMECMgQLyBAsIOMfNhb2ttAasncAAAAASUVORK5CYII="
            }
          }
        },
        "required": [
          "referenceId",
          "paymentUrl",
          "expiresAt"
        ]
      },
      "CapturePaymentRequest": {
        "title": "Request for payment capture",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Amount to be captured from the transaction. Used for partial capture, it must always be less than or equal to the total amount of the original transaction.",
            "example": 12.04,
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "authorizationId"
        ]
      },
      "CapturePaymentResponse200": {
        "title": "Response to payment capture request",
        "type": "object",
        "properties": {
          "id": {
            "description":"Unique identifier of the update.",
            "example": "5b008cef7f321d00ef236444",
            "type": "string"
          },
          "referenceId": {
            "description": "It is the `reference Id` of the payment request of the merchant person.",
            "example": "102030",
            "type": "string"
          },
          "status": {
            "description": "- \"created\": created register\n\n- \"expired\": deadline for payment expired\n\n- \"authorized\": authorized and awaiting capture\n\n- \"paid\" : paid (captured)\n\n- \"refunded\": paid and returned\n\n- \"chargeback\": paid and with chargeback",
            "type": "string",
            "enum": [
              "created",
              "expired",
              "authorized",
              "paid",
              "refunded",
              "chargeback"
            ],
            "example": "paid"
          },
          "summary": {
            "title": "Payment amounts summary",
            "type": "object",
            "properties": {
              "authorized": {
                "description": "Authorized payment amount.",
                "example": 12.04,
                "type": "number",
                "format": "double"
              },
              "paid": {
                "description": "Amount paid (captured) by the consumer.",
                "example": 12.04,
                "type": "number",
                "format": "double"
              },
              "refunded": {
                "description": "Value cancelled.",
                "example": 0,
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "required": [
          "referenceId",
          "id",
          "status",
          "summary"
        ]
      },
      "CancelRequest": {
        "title": "Cancellation request",
        "type": "object",
        "properties": {
          "authorizationId": {
            "description":"Authorization ID that the e-commerce received in the paid order notification. If the order is not paid, it is not necessary to send this parameter.",
            "example": "555008cef7f321d00ef236333",
            "type": "string"
          },
          "amount": {
            "description":"Amount to be canceled from the transaction. Used in cases of partial cancellation, it must always be less than or equal to the total amount of the original transaction.",
            "example": 50.05,
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "authorizationId"
        ]
      },
      "CancelResponse201": {
        "title": "Response to cancellation request",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique cancellation identifier.",
            "example": "5b008cef7f321d00ef236444",
            "type": "string"
          },
          "referenceId": {
            "description": "Is the `referenceId` of the payment request.",
            "example": "102030",
            "type": "string"
          },
          "summary": {
            "title": "Payments amounts summary",
            "type": "object",
            "properties": {
              "authorized": {
                "description": "Authorized payment amount.",
                "example": 100,
                "type": "number",
                "format": "double"
              },
              "paid": {
                "description":"Amount paid (captured) by the consumer.",
                "example": 100,
                "type": "number",
                "format": "double"
              },
              "refunded": {
                "description": "Value cancelled.",
                "example": 50.05,
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "required": [
          "referenceId",
          "id"
        ]
      },
      "StatusResponse200": {
        "title": "Response to status request",
        "type": "object",
        "properties": {
          "authorizationId": {
            "description":"Payment authorization number (if paid).",
            "type": "string",
            "example": "555008cef7f321d00ef236333"
          },
          "referenceId": {
            "description": "Seu ID.",
            "type": "string",
            "example": "102030"
          },
          "status": {
            "description": "- \"created\": record created.\n\n- \"expired\": deadline for payment expired.\n\n- \"authorized\": authorized and awaiting capture.\n\n- \" paid\": paid (captured).\n\n- \"refunded\": paid and refunded.\n\n- \"chargeback\": paid and with chargeback.",
            "type": "string",
            "enum": [
              "created",
              "expired",
              "authorized",
              "paid",
              "refunded",
              "chargeback"
            ],
            "example": "authorized"
          },
          "summary": {
            "title": "Summary of payment amounts",
            "type": "object",
            "properties": {
              "authorized": {
                "description":"Authorized payment amount.",
                "example": 100,
                "type": "number",
                "format": "double"
              },
              "paid": {
                "description": "Amount paid (captured) by the consumer.",
                "example": 95.99,
                "type": "number",
                "format": "double"
              },
              "refunded": {
                "description":"Value cancelled.",
                "example": 5.99,
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "required": [
          "referenceId",
          "status"
        ]
      },
      "CallbackRequest": {
        "title": "Callback request",
        "type": "object",
        "properties": {
          "referenceId": {
            "description": "Transaction identifier.",
            "example": "102030",
            "type": "string"
          },
          "authorizationId": {
            "description":"Unique authorization identifier. This value is used to perform chargebacks in our API.",
            "example": "5b01780ba8914c001a007673",
            "type": "string"
          }
        },
        "required": [
          "referenceId"
        ]
      },
      "CallbackResponse200": {
        "title": "Callback request response",
        "type": "string",
        "example": "We gonna just validate the HTTP 200 status."
      },
      "UnprocessableRefunds2": {
        "title": "Cancellation amount exceeds payment amount",
        "type": "object",
        "properties": {
          "message": {
            "description": "Error message.",
            "type": "string",
            "example": "Some properties did not pass the validation test."
          },
          "errors": {
            "description": "Array containing the errors (optional).",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description":"Property.",
                  "example": "amount."
                },
                "message": {
                  "type": "string",
                  "description":"What happened.",
                  "example": "The cancellation amount is greater than the total payment amount."
                }
              }
            }
          }
        },
        "required": [
          "message"
        ]
      },
      "UnprocessableRefunds3": {
        "title": "Cancellation value is less than 0",
        "type": "object",
        "properties": {
          "message": {
            "description": "Error message.",
            "type": "string",
            "example": "Some properties did not pass the validation test."
          },
          "errors": {
            "description": "Array containing the errors (optional).",

            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description":"Property.",
                  "example": "amount."
                },
                "message": {
                  "type": "string",
                  "description":"What happened.",
                  "example": "Cancel value is less than 0."
                }
              }
            }
          }
        },
        "required": [
          "message"
        ]
      },
      "UnprocessableRefunds4": {
        "title": "Payment already canceled",
        "type": "object",
        "properties": {
          "message": {
            "description": "Error message.",
            "type": "string",
            "example": "Some properties did not pass the validation test."
          },
          "errors": {
            "description":"Array containing the errors (optional).",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description":"Property.",
                  "example": "amount."
                },
                "message": {
                  "type": "string",
                  "description": "What happened.",
                  "example": "The payment has already been completely canceled."
                }
              }
            }
          }
        },
        "required": [
          "message"
        ]
      }
    }
  }
}

