{"openapi":"3.0.0","servers":[{"url":"https://api.picpay.com","description":"Produção"}],"info":{"title":"PicPay 1-Click","version":"1.0.0","x-logo":{"url":"/assets/images/picpay-logo.svg","backgroundColor":"#21c25e"},"description":"# Introdução\nA API do PicPay 1-Click foi desenvolvida \ncom base na tecnologia REST, seguindo os atuais padrões \ntécnicos de mercado. Todas as URLs utilizam o protocolo \nHTTP como autenticação, verbos e códigos de retorno.\n\n## Autenticação e Autorização\nToda a comunicação utiliza tokens para autorização, em \nconformidade com as especificações do OpenID Connect e \nOAuth 2.0. Os tokens são criados a partir da autenticação \ncom as credenciais fornecidas pelo PicPay, e da autorização \ndo usuário, como mostrado no nosso guia.\n"},"x-tagGroups":[{"name":"Recursos","tags":["Token de Acesso","Pagamentos"]}],"paths":{"/oauth2/token":{"post":{"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/TokenRequest"},{"$ref":"#/components/schemas/RefreshTokenRequest"}]}}},"required":true},"tags":["Token de Acesso"],"operationId":"api.reference.oauth2.token","summary":"Solicitar token de autorização","description":"Utilize esse endereço para gerar o token de autorização que deve ser\nenviado no header das demais requisições. É necessário utilizar o\n`CLIENT_ID` e `CLIENT_SECRET` definidos na credencial fornecida pelo PicPay, além do \n`AUTORIZATION_CODE` adquirido no passo de autenticação e autorização. \nO exemplo de requisição pode ser visto no esquema `TokenRequest`.\n\nCada token de autorização gerado terá a validade de **5 (cinco)\nminutos**, sendo necessário a solicitação de um novo token. Esse fluxo\nprecisa estar contemplado na sua aplicação.\n\nRecomendamos gerar um novo token apenas quando o anterior expirar, visto\nque a criação de um novo token invalida o anterior e isso pode resultar\nem um problema de concorrência entre as requisições.\n\nPara atualizar o token basta alterar o valor do parâmetro grant_type\npara _\"refresh_token\"_ e acrescentar o campo `refresh_token` tal qual o\nrecebido na resposta da primeira solicitação. O exemplo da requisição\npode ser visto no esquema `RefreshTokenRequest`.\n","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenSuccessResponse"}}},"description":"Resposta de sucesso no fluxo de autenticação e de atualização do token (refresh token)"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenBadRequest"}}},"description":"Os erros de 400 Bad Request são causados por alguma falha durante a autenticação. Podem ser apresentados os seguintes erros:\n- **invalid_request**: A solicitação não tem um parâmetro obrigatório, inclui um valor de parâmetro não compatível ou está malformado. Por exemplo, grant_type é refresh_token, mas o campo refresh_token não está incluído.\n- **invalid_client**: Falha na autenticação do cliente. Por exemplo, quando o cliente inclui client_id e client_secret no cabeçalho de autorização, mas não há tal cliente com esse client_id e client_secret.\n- **invalid_grant**: O token de atualização foi revogado, já foi consumido ou não existe.\n- **unauthorized_client**: O cliente não tem permissão para fluxo de concessão de código ou para tokens de atualização.\n- **unsupported_grant_type**: Retornado se grant_type for diferente de authorization_code ou refresh_token.\n"}}}},"/v1/payments/charge":{"post":{"tags":["Pagamentos"],"summary":"Criar cobrança","description":"Este recurso permite ao vendedor realizar uma cobrança na carteira do usuário.","operationId":"api.reference.v1.payments.charge","security":[{"Authorization":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"title":"Criar cobrança","type":"object","properties":{"value":{"type":"number","format":"float","example":99.99}}}]}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTransactionCreatedData"}}}},"401":{"description":"Erros com seu Access Token","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","format":"string","example":"Unauthorized"}}},"examples":{"tokenNotFound":{"description":"Resposta quando o recurso é chamado sem o acess_token.","value":{"message":"Unauthorized"}},"expiredToken":{"description":"Access Token expirado","value":{"message":"Token claims invalid: [\"exp\"]=\"token expired\""}},"badTokenFormat":{"description":"Resposta quando o recurso é chamado com um token que não é um JWT válido.","value":{"message":"Bad token; invalid JSON"}}}}}},"404":{"description":"Not Found"},"422":{"description":"Resposta para erros de validação","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityResponse"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeTooManyRequestsResponse"}}}},"500":{"description":"Erro inesperado no servidor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}},"/v1/payments/{transaction_id}/refund":{"post":{"tags":["Pagamentos"],"summary":"Realizar um estorno total ou parcial","description":"Este recurso permite ao vendedor realize o estorno total ou parcial de um pagamento. \nCaso você especifique um valor de rembolso menor do que foi cobrado, a transação  original será cancelada e faremos uma segunda cobrança na carteira do usuário  com o valor da diferença.","operationId":"api.reference.v1.payments.refund","security":[{"Authorization":[]}],"parameters":[{"name":"transaction_id","in":"path","description":"ID da transação","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"title":"Realizar um reembolso","type":"object","properties":{"value":{"type":"number","format":"float","example":99.99}}}]}}}},"responses":{"200":{"description":"Reembolso **parcial** realizado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTransactionCreatedData"}}}},"204":{"description":"Reembolso realizado com sucesso."},"401":{"description":"Erros com o Access Token fornecido","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","format":"string","example":"Unauthorized"}}},"examples":{"tokenNotFound":{"description":"Resposta quando o recurso é chamado sem o acess_token.","value":{"message":"Unauthorized"}},"expiredToken":{"description":"Access Token expirado","value":{"message":"Token claims invalid: [\"exp\"]=\"token expired\""}},"badTokenFormat":{"description":"Resposta quando o recurso é chamado com um token que não é um JWT válido.","value":{"message":"Bad token; invalid JSON"}}}}}},"404":{"description":"Transaction ID não encontrado."},"422":{"description":"Resposta para erros de validação","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityResponse"},"examples":{"refundMoreThanCharged":{"description":"Tentativa de reembolsar um valor maior do que foi cobrado inicialmente.","value":{"message":"Erro de validação nos seguintes campos","errors":[{"field":"value","mesage":"Value can not be greater than the value of the original transaction."}]}}}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"API rate limit exceeded"}}}}}},"500":{"description":"Erro inesperado no servidor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}}}}},"components":{"securitySchemes":{"Authorization":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"TokenRequest":{"required":["grant_type","scope","client_id","client_secret"],"properties":{"grant_type":{"format":"string","description":"Informe \"authorization_code\"","type":"string","example":"authorization_code"},"scope":{"format":"string","description":"Por padrão utilize \"openid payments.charge payments.refund profile\"","type":"string","example":"openid payments.charge payments.refund profile"},"client_id":{"format":"string","description":"CLIENT_ID enviado pela Picpay","type":"string","example":"7461f6d2-1ac9-4daa-851f-57259c49d859"},"client_secret":{"format":"string","description":"CLIENT_SECRET enviado pela Picpay","type":"string","example":"7461f6d2-1ac9-4daa-851f-57259c49d859"}}},"RefreshTokenRequest":{"required":["grant_type","client_id","client_secret","refresh_token"],"properties":{"grant_type":{"format":"string","description":"Informe \"refresh_token\"","type":"string","example":"refresh_token"},"client_id":{"format":"string","description":"CLIENT_ID enviado pela Picpay","type":"string","example":"a45ab744-8d60-4f6b-bdf8-176196768381"},"client_secret":{"format":"string","description":"CLIENT_SECRET enviado pela Picpay","type":"string","example":"a45ab744-8d60-4f6b-bdf8-176196768381"},"refresh_token":{"format":"string","description":"Recebido após a requisição de um \"access token\"","type":"string","example":"{REFRESH_TOKEN}"}}},"TokenSuccessResponse":{"description":"Resposta de sucesso no fluxo de autenticação e de atualização do token (refresh token)","type":"object","properties":{"access_token":{"format":"string","description":"Token que deve ser enviado nas demais requisições","type":"string","example":"eyJhbGciOiJIUzI1NVCJ9.eyJkYXRhIjoidmFsdWUifQ.78pp6_Dx5L0fz-xkpUEbZI"},"expires_in":{"format":"integer","description":"Tempo em segundos até a expiração do access_token","type":"integer","example":300},"refresh_expires_in":{"format":"integer","description":"Tempo em segundos até a expiração do refresh_token","type":"integer","example":1800},"refresh_token":{"format":"string","description":"Token que deve ser enviado para gerar um novo access_token","type":"string","example":"yJkYXRhIjoidmFsdWUifQ.78pp6_Dx5L0fz-xkpUEbZI.yJhbGciOiJIUzI1NVCJ9"},"token_type":{"format":"string","description":"Tipo de autenticação. Nesse caso sempre será bearer","type":"string","example":"bearer"}}},"TokenBadRequest":{"type":"object","properties":{"error":{"format":"string","description":"Código do erro","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type"],"type":"string","example":"invalid_request"},"error_description":{"format":"string","description":"Explicação do motivo do erro","type":"string","example":"INVALID_CREDENTIALS: Invalid client credentials"}}},"NewTransactionCreatedData":{"type":"object","properties":{"transaction_id":{"type":"string","description":"Identificador da transação criada.","example":"123456222","pattern":"^\\d{3}\\d{2}\\d{4}$"},"created_at":{"type":"string","example":"2020-04-16 20:59:58","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$"}}},"UnprocessableEntityResponse":{"type":"object","properties":{"message":{"type":"string","example":"The given data was invalid."},"errors":{"type":"array","maxItems":1,"items":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"}}}}}},"ChargeTooManyRequestsResponse":{"type":"object","properties":{"message":{"type":"string","example":"API rate limit exceeded"}}},"InternalServerErrorResponse":{"type":"object","properties":{"message":{"type":"string","format":"string","example":"Ops! Ocorreu um erro inesperado ao processar a sua solicitação."}}}}}}