/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #28a745;  /* #25c2a0; */
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-alert-color: var(--ifm-font-color-base);

  --ifm-menu-color-hover: #28a745;
  --ifm-menu-color-background-hover: transparent;

  --ifm-font-family-base: "Nunito Sans", -apple-system, "San Francisco", blinkmacsystemfont, "Segoe UI", "Helvetica Neue", helvetica, arial, sans-serif;

  --ifm-color-info: #7BD1F4;
  --ifm-color-warning: #FAC942;
  --ifm-navbar-search-input-background-color: transparent;


}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


/* Markdown customizations */

.markdown > table {
  border-top: 3px solid #00ac4a;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 4%), 0px 3px 8px rgb(0 0 0 / 4%), 0px 0px 8px rgb(0 0 0 / 4%);
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 4px;
  display: inline-table;
}


/* Admonition alerts customizations */

.alert {
  background-color: transparent;
  border-color: var(--ifm-alert-border-color);
  border-style: solid;
  border-width: var(--ifm-alert-border-width);
  border-radius: var(--ifm-alert-border-radius);
  color: var(--ifm-alert-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}

.admonition-icon {
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.5em;
}

.admonition-icon svg{
  fill:var(--ifm-alert-background-color);
}

.admonition h5 {
  text-transform: capitalize
}


/* Raio PicPay-zador */ 



.navbar__search-input {
  -webkit-appearance: none;
  appearance: none;
  background: var(--ifm-navbar-search-input-background-color) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.23);
  cursor: text;
  color: var(--ifm-navbar-search-input-color);
  display: inline-block;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0 0.5rem 0 2.25rem;
  width: 12.5rem;

  -webkit-transition: none;
  transition: none;
}

.navbar__search-input:hover {
  box-shadow: inset 0 0 0 1px #11c76f;
  outline: 0;
}

.navbar__search-input:active {
  box-shadow: inset 0 0 0 1px #11c76f;
  outline: 0;
}

.searchbox__input:focus,
.searchbox__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #11c76f;
  background: #ffffff;
}

.algolia-autocomplete .ds-dropdown-menu {
  box-shadow: 0 1px 0 0 #11c76f, 0 2px 3px 0 #11c76f;
}

/* Side menu customizations */

.menu {
  background-color: #F2F2F2;
}

.menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  border-left: 4px solid;
  border-color: var(--ifm-color-primary);
  color: #222222;
  background-color: transparent;
}


.menu .menu__link:active {
  color: #ffffff;
  background-color: transparent;
  background-size: 100% 100%;
  color: #fff;
}

.menu .menu__link:hover {
  color: #00ac4a;
}

.menu .menu__link {
  color: #747474;
  background-image: linear-gradient(#d9d9d9, #d9d9d9);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color 450ms;
}

.footer__title {
  color: var(--ifm-footer-title-color) !important;
}

/* ajustes do swagger */




.swagger-ui table tr:nth-child(2n) {
  background-color: transparent;
}

.swagger-ui table  {
  border-color: transparent;
}

.swagger-ui table tr  {
  border-top: transparent;
}

.swagger-ui code {
  color: white;
}

.swagger-ui a {
  background-color: transparent;
  color: unset;
}

.swagger-ui .title {
  color: var(--ifm-font-color-base) !important;
}

.swagger-ui h1, h2, h3, h4, .model-title {
  color: var(--ifm-font-color-base) !important;
}



.swagger-ui p {
  background-color: transparent;
  color: var(--ifm-font-color-base) !important;
}

.swagger-ui .tab li {
  margin-top: 0;
}

/*
.swagger-ui > table th, table td {
  border: none;
}
*/

.swagger-ui table td {
  border: none;
}

.swagger-ui table th {
  border: none;
}

.swagger-ui pre {
  background-color: unset;
}

.swagger-ui .responses-table {

}

/* ajustes do swagger - fim */

